<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="b53eb338-6cd8-4fa0-9d87-d6ef6e68ed16" name="Items_Definition" type="rest_ex" wadlVersion="https://swagger.io/swagger2/specification" definitionUrl="http://items-api.cfapps.io/api-docs" basePath="" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:description>Api Documentation</con:description><con:settings><con:setting id="b53eb338-6cd8-4fa0-9d87-d6ef6e68ed16fileName">Items_Definition</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>http://items-api.cfapps.io</con:endpoint></con:endpoints></con:interface>