<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="4abf2658-0bc4-4f6f-a5d5-acb68517be7f" name="Delivery_Definition" type="rest_ex" wadlVersion="https://swagger.io/swagger2/specification" definitionUrl="http://delivery-api.cfapps.io/api-docs" basePath="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:description>Api Documentation</con:description><con:settings><con:setting id="4abf2658-0bc4-4f6f-a5d5-acb68517be7ffileName">Delivery_Definition</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>http://delivery-api.cfapps.io</con:endpoint></con:endpoints></con:interface>